<!doctype html>
<html lang="en">
<head>
<%- include ("./headerscript.html") -%>
</head>
<body>
    <div class="wrapper">
        
        <%- include ("./header.html") -%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section style="margin-left:20%; margin-top: 20%">
            <div>
                We are going to create session for OCR. This may take some times to finish.
            </div>
            <div style="display: flex">
                <div>Document</div>
                <div style="width: 20px"></div>
                <div id="document"></div>
            </div>
            <div style="height: 20px">
                

            </div>
            <div style="height: 20px"></div>
            <div style="display: flex">
                <div>
                    <button id="btn-start-ocr" class="btn btn-primary">
                        Start OCR
                    </button>
                </div>
                <div>
                    <button id="btn-cancel-ocr" class="btn btn-primary">
                        Cancel
                    </button>
                </div>
            </div>
            </section>
            
        </div>
        <!-- /.content-wrapper -->


    </div>

    <%- include ("./footer.html") -%>
</body> 
<%- include ("./footerscript.html") -%>

<script type="module">
import { AddOcrSessionPage }  from '../javascripts/pages/add-ocrsession.js';

$(document).ready(function () {
    var config = "<%=config %>";
        config = config.replace(/&#34;/gi, '"')
        config = JSON.parse(config)
    console.log(config)

    var session = "<%=sessionstring %>"
    session = session.replace(/&#34;/gi, '"')
    session = JSON.parse(session)

    GLOBAL.session = session;


    let documentid = "<%=documentid %>";

    let addOcrSessionPage = new AddOcrSessionPage();
    addOcrSessionPage.init(config, documentid, session);
});
</script>
</html>