<!doctype html>
<html lang="en">
<head>
    <link href="../javascripts/tabular/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/tabular/js/tabulator.min.js"></script>
    
    
    <style>
        .dropzone{
            border: solid 1px #ccc;
            border-radius: 15px;
            height: 80%;
        }
    </style>
<%- include ("./headerscript.html") -%>
</head>
<body>
    <div class="wrapper">
        
        <%- include ("./header.html") -%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content" style="padding: 20px">
                <div class="position-relative form-group">
                    <label for="appname" class="">Drag drop the PDF files (or click to open files)</label>
                    <form   id="myDropzone" action="/" class="dropzone">
                        <div class="fallback">
                          <input name="file" type="file" multiple />
                        </div>
                    </form>
                    <div class="position-relative form-group" style="padding: 10px">
                        <button id="btn-clear" type="button" class="btn btn-block btn-primary-2">Clear</button>
                    </div>
                </div>
            </section>
            
        </div>
        <!-- /.content-wrapper -->
        <%- include ("./footer.html") -%>

    </div>

</body>
<%- include ("./footerscript.html") -%>

<script>
var message = "";
var error = false;
var popUpError = false;
var RESPONSE = {};
Dropzone.options.myDropzone = {
    init: function() {
        this.on("processing", function(file) {
            
            this.options.url = getUrl();
            message = "";
            error = false;
            popUpError = false;
            
        });

        this.on("complete", function(file) {
            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                if(error == false)
                {
                    //loadGcsObjects();
                    //window.popWindow.dialog("Upload complete", "Validation" );
                    

                    if(onAllFileUploaded != null)
                        onAllFileUploaded();
                    $("#btn-next").removeAttr("disabled")
                }
                else
                {
                    window.popWindow.dialog(message, "Validation" );

                }
            }

        });

        this.on("success", function(file, response) {
            console.log(response);
            console.log(file)

            if(response.success == false)
            {
                
                //window.popWindow.dialog("Error: " + response.message, "Validation" );
                error = true;
                $('.dropzone')[0].dropzone.files.forEach(function(item) { 
                    if(file.name == item.name)
                    {
                        message += response.message + " : '" + item.name + "'<br>"; 
                        item.previewElement.remove(); 
                    }
                });
            }
            else {
                error = false;
                RESPONSE=response;

                if(onFileUploaded != null)
                    onFileUploaded(response.payload);
            }
        })
    }
};



function initYear()
{
    $("#doc-year").html("");
    let dt = new Date();
    let y = dt.getFullYear();
    for(var i = y - 10; i <= y; i++ )
    {
        let opt = document.createElement("option");
        opt.value = i;
        $(opt).html(i);
        $("#doc-year").append(opt);
    }
}

function getUrl()
{
    var config = "<%=config %>";
        config = config.replace(/&#34;/gi, '"')
        config = JSON.parse(config)
        
    var project = config.PROJECT;
    var bucket = config.GCS_UPLOAD_BUCKET;
    var folder = config.GCS_PDF_FOLDER;
    var baseUrl = config.UPLOAD_URL;

    //var url = baseUrl + "/upload/gcs/" + project + "/" + bucket + "/" + folder;

    var url = baseUrl + "/gcs/upload?path=" + project + ":" + bucket + "/" + folder + "/";

    console.log(url);
    return url;
}

var onFileUploaded = null;
var onAllFileUploaded = null;

</script>
<script type="module">
    import { DocumentUploadPage }  from '../javascripts/pages/document-upload.js';
    
    $(document).ready(function () {

        var config = "<%=config %>";
        config = config.replace(/&#34;/gi, '"')
        config = JSON.parse(config)

        var session = "<%=sessionstring %>"
        session = session.replace(/&#34;/gi, '"')
        session = JSON.parse(session)
        
        let documentUploadPage = new DocumentUploadPage();
        documentUploadPage.init(config, session);

        onFileUploaded = function(response){ documentUploadPage.onUploadDone(response) } ;
        onAllFileUploaded = function(){ documentUploadPage.onAllFileUploaded() }; 
        
    });
    </script>
</html>